BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 150%; PADDING-TOP: 0px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
TD.note {
	BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
H1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 13px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 0px auto; WIDTH: 797px; COLOR: #666666; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TD.hyo {
	PADDING-LEFT: 10px
}
H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; LINE-HEIGHT: 140%
}
H3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; LINE-HEIGHT: 140%
}
A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0033ff; TEXT-DECORATION: underline
}
A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
.f12 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 140%
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
.hd_t {
	PADDING-RIGHT: 538px; PADDING-LEFT: 200px; BACKGROUND-IMAGE: url(image/ht_shadow.jpg); PADDING-BOTTOM: 0px; WIDTH: 760px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 130px
}
TD.f01 {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 13px; PADDING-BOTTOM: 6px; PADDING-TOP: 7px; BORDER-BOTTOM: #210063 3px solid
}
TD.f02 {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 13px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px
}
UL.info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.info LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 20px; BACKGROUND: url(image/p_01.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px
}
TD.text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #888888; LINE-HEIGHT: 140%; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.recruit {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(image/con_2.jpg); PADDING-BOTTOM: 9px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 244px; LINE-HEIGHT: 145%; PADDING-TOP: 9px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 148px; TEXT-ALIGN: left
}
TD.entry {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(image/con_3.jpg); PADDING-BOTTOM: 9px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 244px; LINE-HEIGHT: 145%; PADDING-TOP: 9px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 148px; TEXT-ALIGN: left
}
TD.pdserv {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(image/con_1.jpg); PADDING-BOTTOM: 9px; WIDTH: 245px; LINE-HEIGHT: 145%; PADDING-TOP: 9px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 148px; TEXT-ALIGN: left
}
TD.under10 {
	PADDING-BOTTOM: 10px
}
TD.top10 {
	PADDING-TOP: 10px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
TD.lc_mado {
	PADDING-LEFT: 25px; LINE-HEIGHT: 140%; PADDING-TOP: 7px
}
OL OL {
	MARGIN-LEFT: 48px; TEXT-INDENT: -28px; LIST-STYLE-TYPE: none
}
OL LI {
	MARGIN-BOTTOM: 10px
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
TD.under150 {
	PADDING-BOTTOM: 150px
}
.bluegreen {
	COLOR: #7eacb6
}
.entrybt {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(image/bt_entry.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 182px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 52px
}
.entrybt:hover {
	BACKGROUND-IMAGE: url(image/bt_entry_ro.jpg); BACKGROUND-REPEAT: no-repeat
}
.shinsotsubt {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(image/bt_shinsotsu.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 182px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 52px
}
.shinsotsubt:hover {
	BACKGROUND-IMAGE: url(image/bt_shinsotsu_ro.jpg); BACKGROUND-REPEAT: no-repeat
}
.kiyaku1 {
	BORDER-RIGHT: #6666ff 2px solid; PADDING-RIGHT: 17px; BORDER-TOP: #6666ff 2px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 7px; MARGIN-LEFT: 10px; BORDER-LEFT: #6666ff 2px solid; WIDTH: 467px; MARGIN-RIGHT: 10px; PADDING-TOP: 14px; BORDER-BOTTOM: #6666ff 2px solid
}
.f11 {
	FONT-SIZE: 11px
}
