A.home {
	BACKGROUND-POSITION: 0px 0px
}
A.home:hover {
	BACKGROUND-POSITION: 0px 0px
}
A.prdserv {
	BACKGROUND-POSITION: -90px 0px
}
A.prdserv:hover {
	BACKGROUND-POSITION: -90px 0px
}
A.office {
	BACKGROUND-POSITION: -180px 0px
}
A.office:hover {
	BACKGROUND-POSITION: -180px 0px
}
A.iso {
	BACKGROUND-POSITION: -270px 0px
}
A.iso:hover {
	BACKGROUND-POSITION: -270px 0px
}
A.recruit {
	BACKGROUND-POSITION: -360px 0px
}
A.recruit:hover {
	BACKGROUND-POSITION: -360px 0px
}
A.contact {
	BACKGROUND-POSITION: -450px 0px
}
A.contact:hover {
	BACKGROUND-POSITION: -450px 0px
}
.m_bg {
	BACKGROUND-IMAGE: url(image/menu.jpg); WIDTH: 540px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 42px
}
UL#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#menu A {
	DISPLAY: block; BACKGROUND-IMAGE: url(image/menu.jpg); WIDTH: 90px; HEIGHT: 42px
}
UL#menu A:hover {
	DISPLAY: block; BACKGROUND-IMAGE: url(image/menu_on.jpg); WIDTH: 90px; HEIGHT: 42px
}
#menu A SPAN {
	DISPLAY: none
}
