a.home{
    background-position:0px 0px;
}
a:hover.home{
    background-position:0px 0px;
}
a.prdserv{
    background-position:-90px 0px;
}
a:hover.prdserv{
    background-position:-90px 0px;
}
a.office{
    background-position:-180px 0px;
}
a:hover.office{
    background-position:-180px 0px;
}
a.iso{
    background-position:-270px 0px;
}
a:hover.iso{
    background-position:-270px 0px;
}
a.recruit{
    background-position:-360px 0px;
}
a:hover.recruit{
    background-position:-360px 0px;
}
a.contact{
    background-position:-450px 0px;
}
a:hover.contact{
    background-position:-450px 0px;
}
.m_bg {
	background-image: url(image/menu.jpg);
	background-repeat: no-repeat;
	height: 42px;
	width: 540px;
}

ul#menu {
	list-style:none;
	width:100%;
	margin: 0px;
	padding: 0px;
}
ul#menu li{
	list-style:none;
	float:right;
	margin: 0px;
	padding: 0px;
	width: 90px;
}
ul#menu a{
	display:block;
	width:90px;
	height:42px;
	background-image: url(image/menu.jpg);
}
ul#menu a:hover{
	display:block;
	width:90px;
	height:42px;
	background-image: url(image/menu_on.jpg);
}
#menu a span{display:none;} 
