#   Tomo's Square ( http://www.t-square.jp/ )
#   $Id: .htaccess 0.6 2003/06/08 11:43:59 Administrator Exp Administrator $
#   $Source: D:/Users/Administrator/projects/works/salut/S-002_tksetup/tksetup_c002/share\\tpl\\custom\\admin\\RCS/.htaccess $
AddHandler image/bmp .bmp
AddHandler image/png .png
AddHandler image/gif .gif
AddHandler image/jpeg .jpg .jpe .jpeg
AddHandler text/html .html .htm
AddHandler application/x-javascript .js
AddHandler cgi-script pl
AuthUserFile /virtual/124.146.222.151/ssl/app-def/S-100/Wiki/admin/.htpasswd
AuthName     "PukiWikiä«óù"
AuthType     Basic
<Limit POST GET>
    require user admin
</Limit>
